.modal-body
	form.form-horizontal( role="form" )
		.form-group
			label.col-sm-2.control-label(for="inpEmail") Email
			.col-sm-10
				input.form-control(type="email" placeholder="Email" id="inpEmail")

		.form-group
			label.col-sm-2.control-label(for="inpPassword") Password
			.col-sm-10
				input.form-control( type="password" id="inpPassword" placeholder="Password" )

		.form-group
			.col-sm-offset-2.col-sm-10
				.checkbox
					label
						input(type="checkbox")
						span Remember me

		.form-group
			.col-sm-offset-2.col-sm-10
				button.btn.btn-default(type="submit" ) Login

		.form-group
			.col-sm-offset-2.col-sm-10
				button.btn.btn-link(ng-click="registration($event)") Registration