.store-list-view

	.products-row
		margin-bottom: 30px

	.product
		border: 1px solid #ddd
		padding: 10px

		+border-radius(4px)

		.img-thumbnail
			border: none

		.title
			font-weight: bold

		.price
			font-weight: bold
			color: rgb(177, 39, 4)