.store-list-view

	//- .row
	//- 	.col-md-3.col-sm-6( ng-repeat="p in vm.products" ng-class="{ 'raw-clear' : ($index+1)%5  == 0}")
	//- 		.product
	//- 			img.img-thumbnail( ng-src="{{c.image}}" )

	//- 			.row
	//- 				.col-sm-6
	//- 					.title {{c.title}} {{$index}}


	//- 				.col-sm-6.text-right
	//- 					.price {{p.price | currency: "&euro; "}}

	//- 					rating(ng-model="p.rating" readonly="true")

	.container.products-grid
		.row( ng-repeat="r in vm.rows")
			.col-md-3.col-sm-6( ng-repeat="c in r" )
				.product
					img.img-responsive( ng-src="{{c.image}}" )
					.title {{c.title}}
					.info.pull-right
						rating(
							ng-model="c.rating"
							readonly="true"
							state-on="'fa fa-star'"
							state-off="'fa fa-star-o'"
						)
						.price {{c.price | currency: "&euro; "}}

			.clearfix.hidden-sm.hidden-xs


