doctype html
html(lang="en" ng-app="jsworkshop")
	head
		title JS Workshop at 07-10.10.2014

		meta( name="fragment" content="!" )

		link( rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" )

		script( src="/breezejs/breeze.min.js")

		script( src="/angular/angular.js")
		script( src="/angular-route/angular-route.js")
		script( src="/breezejs/labs/breeze.angular.js")


		script( src="/app.js")

	body
		div.container
			div(ng-view)
