doctype html
html(lang="en" ng-app="app")
	head
		title SCANEM

		meta( name="fragment" content="!" )

		link( rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" )
		link( rel="stylesheet" href="/angular-ui-select/dist/select.min.css" )

		script( src="/lodash/dist/lodash.js" )
		script( src="/angular/angular.js")
		script( src="/angular-route/angular-route.js")
		script( src="/angular-classy/angular-classy.js")
		script( src="/restangular/dist/restangular.js" )
		script( src="/angular-ui-select/dist/select.min.js" )
		script( src="/angular-bootstrap/ui-bootstrap.js" )
		script( src="/angular-bootstrap/ui-bootstrap-tpls.js" )



		script( src="/app.js")

	body
		div.container
			div(ng-view)
