doctype html
html(lang="en" ng-app="jsworkshop")
	head
		title JS Workshop at 07-10.10.2014

		meta( name="fragment" content="!" )

		link( rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" )

		script( src="/lodash/dist/lodash.js" )
		script( src="/angular/angular.js")
		script( src="/angular-route/angular-route.js")
		script( src="/angular-classy/angular-classy.js")
		script( src="/restangular/dist/restangular.js" )


		script( src="/app.js")

	body
		div.container
			div(ng-view)
