/*
 2014  Robert Rohm.
*/

* {
  font-family: sans-serif;
}
h1 {
  font-size: 24px;
}
pre {
  background-color: #eee;
  padding: 20px 0px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}