.logup

	div(ng-hide="vm.user")
		.btn.btn-link(ng-click="vm.openSignupModal($event)") 
			span {{"auth.sign_up" | translate }}

		.btn.btn-default(ng-click="vm.openLoginModal($event)") 
			i.fa.fa-sign-in
			span {{"auth.log_in" | translate }}

	div(ng-show="vm.user")
		span.dropdown
			a.dropdown-toggle( href )
				span {{vm.user.username}}
				i.fa.fa-caret-down
			ul.dropdown-menu
				li
					a(ng-href="/profile/{{vm.user.username}}")
						i.fa.fa-user
						span profile
				li
					a(ng-href="#" ng-click="doLogout()")
						i.fa.fa-sign-out
						span logout



	div(ng-show="false")
		ui-select(ng-model="person.selected")
			ui-select-match(placeholder="Select...") {{$select.selected.name}}
			ui-select-choices(repeat="p in people | filter: $select.search")
				div(ng-bind="p.name")
