.modal-header
	h3.modal-title Sign up

.modal-body
	form( role="form" )

		.form-group
			input.form-control( type="text" name="username" placeholder="Username" )

		.form-group
			input.form-control( type="email" name="email" placeholder="Email" )

		.form-group
			input.form-control( type="password" name="password" placeholder="Password" )

		.form-group
			button.btn.btn-default(type="submit" ) Submit

		.form-group
			button.btn.btn-link(ng-click="login($event)") Log in